
# Puerto del servidor
PORT=3000

# String de conexión a MongoDB
MONGODB=mongodb+srv://jonathanfiorenza6_db_user:qQR2Ew3tBTwyY7eW@cluster0.zxk4btc.mongodb.net/DBreservasCanchas

# Secreto para firmar JWT (cada dev lo completa en su .env)
SECRETJWT=ACA_VA_EL_CODIGO_SECRETO